<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="site_title"><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript">
        function checkTextField(form) {
            let username = form.username.value;
            let password = form.password.value;
            let site_name = form.site_name.value;
            if (username === "" || password === "" || site_name === "") {
                alert("The box cannot be blank")
                window.location.reload();
                return false
            }
            return true;
        }
    </script>
</head>

<body>

<!--navbar-->
<nav class="navbar navbar-default m_nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Informing</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Media <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Files</a></li>
                        <li><a href="#">Images</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-left">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->


                <ul class="nav navbar-nav navbar-right">
                    <% if (have_login) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button">Hello <%= username %><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="btn btn-link" type="submit" name="setting" value="true">Setting
                                    </button>
                                <li>
                                    <button class="btn btn-link" type="submit" name="logout" value="true">Logout
                                    </button>
                                </li>
                            </ul>
                        </li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                </ul>
            <form class="navbar-form navbar-right" action="/new">
                <button type="submit" class="btn btn-default">New</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Homepage -->
<% if (action === "homepage") { %>
    <div class="slide_container container">
        <div class="slices">
            <div class="slice" id="fade1">
                <img src="/images/lake-irene-1679708_1920-e1520033192433.jpg" class="slice_image"/>
                <p class="slice_text">Favere grauiter ducunt ad castus tumultumque.1</p>
            </div>
            <div class="slice fading" id="fade2">
                <img src="/images/landscape-photography-02.jpg" class="slice_image"/>
                <p class="slice_text">Favere grauiter ducunt ad castus tumultumque.2</p>
            </div>
            <div class="slice fading" id="fade3">
                <img src="/images/photo-1532274402911-5a369e4c4bb5.jpg" class="slice_image"/>
                <p class="slice_text">Favere grauiter ducunt ad castus tumultumque.3</p>
            </div>
        </div>
        <a class="prev_button" onclick="nextSlice(-1)">&#10094;</a>
        <a class="next_button" onclick="nextSlice(1)">&#10095;</a>
    </div>


    <div class="content_container">
        <div class="well well-lg well_container ">
            <div class="notification_buttons">
                <button class="btn btn-primary" type="button">
                    All messages <span class="badge"><%= all_n %></span>
                </button>
                <% if (event_n > 0) { %>
                    <button class="btn btn-danger" type="button">
                        Deadlines <span class="badge"><%= event_n %></span>
                    </button>
                <% } %>
                <% if (deadline_n > 0) { %>
                    <button class="btn btn-warning" type="button">
                        Events <span class="badge"><%= deadline_n %></span>
                    </button>
                <% } %>
            </div>
            <!--<div class="input-group m_input">-->
                <!--<span class="input-group-addon">Search:</span>-->
                <!--<input type="text" class="form-control" placeholder="Keyword">-->
            <!--</div>-->
            <hr>
            <div class="list-group list">
                <% post_list.forEach(function (post) { %>
                    <button type="button" class="list-group-item">
                        <span class="label <%= PRIORITY_CLASS[post.post_priority] %>"><%= PRIORITY_NAME[post.post_priority] %></span> <%= post.post_title %>
                    </button>
                <% }); %>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/javascripts/index.js"></script>
<% } %>

<!--login-->
<% if (action === "login") { %>
    <div class="content_container">
        <div class="well well-lg well_container_2 ">
            <h1>Please Login</h1>
            <% if (login_failed === "true") { %>
                <div class="alert alert-danger">Incorrect Account Name or Password!</div>
            <% } %>
            <form method="POST">
                <div class="input-group input-group-lg notification_buttons">
                    <span class="input-group-addon" id="sizing-addon1">Username</span>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Password  </span>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-default btn-lg submit_buttons pull-right">Login</button>
            </form>
        </div>
    </div>
<% } %>

<!--settings-->
<% if (action === "settings") { %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-lg well_container_3">
                <form method="POST" onsubmit="checkTextField(this)">
                    <p>Account settings</p>

                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>

                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <br>

                    <hr>
                    <p>Site settings</p>
                    <label for="site_name">Site name</label>
                    <input type="text" class="form-control" id="site_name" name="site_name" required>

                    <br>
                    <div class="input-group">
                        <button type="submit" class="btn btn-default">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>

<% if (action === "post") { %>
<div class="content_container">
    <div class="well well-lg well_container_2 ">
        <h1 class="page-header"><%= post.post_title %></h1>
        <%= post.post_content %>

    </div>
</div>
<% } %>

<% if (action === "post") { %>
    <div class="content_container">
        <div class="well well-lg well_container_4">
            <form class="form-group">

                <input type="hidden" value="<%#post_action%>" name="post_action">

                <label for="title">Title:</label>
                <input type="text" class="form-control" name="content" id="title" placeholder="" required>
                <br>
                <label for="content">Content:</label>
                <textarea class="form-control" rows="20" name="content" id="content" placeholder="Insert your text here." required></textarea>

                <br>

                <label for="type">Select post type:</label>
                <select class="form-control" id="type" name="post_priority">
                    <option>Normal</option>
                    <option>Events</option>
                    <option>Deadlines</option>
                </select>

                <hr>

                <div class="input-group">
                    <button type="submit" class="btn btn-default">Confirm</button>
                </div>
            </form>
        </div>
    </div>
<% } %>

<div class="container container-fluid footer">
    <p class="footer_text">;) Informing is an open-source nodejs project </p>
</div>
</body>
</html>